# Deep Directories
**/coverage
**/dist
**/smoke
**/node_modules
**/fixtures
**/fixture
**/vendor
**/.turbo
**/.vercel
**/.vscode-test

# No need necessary to format
scripts/turbo/generators/templates/**/*

# Directories
.github
.changeset

# Files
vitest.config.ts.timestamp*
pnpm-lock.yaml

# Formatted by Biome
**/*.json
**/*.jsonc
**/*.js
**/*.ts
**/*.tsx
**/*.jsx
**/*.mjs
**/*.cjs
**/*.css

CHANGELOG.md
